/*
    STYLE EXPERIMENT PAGE ----------------------------------------------
*/
.topnav {
    background-color: blue;
    overflow: hidden;
    text-align: center;
}


 

/* Style the links inside the navigation bar */
.topnav a {
    text-align: center;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: yellow;
}

.flotte {
    float:left;
    }

/*EXPERIMENT*/
.exp {
    margin-left: 0.5em;
}

#BuyButton {
    background-color: blue;
    color: yellow;
    font-size: 18px;
    height: 30px;
    width: 80px;
}