@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: blue;
    height: 80;
    position: relative;
    top: 0;
    font-family: 'Roboto', sans-serif;
}
header>*{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 30px 0 30px;
    font-family: 'Roboto', sans-serif;
}

header img{
    width: 50;
}

header>ul{
    right: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header,header a {
    color:yellow;
    font-family: 'Roboto', sans-serif;
}

header>ul li {
    margin: 10px;
    font-weight: 600;
    display: inline-block;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    
}

h1 {
    margin-left: 0.2em;
    font-family: 'Roboto', sans-serif;
}

h4 {
    margin-left: 0.5em;
}
.page-main {
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}
.bienvenue{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-family: 'Roboto', sans-serif;
}
.bienvenue>.texte{
    width: 500px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

input:not(input[type="submit"]),textarea{
    
    border-bottom: 2px solid ;
    resize: none;
    outline: none;
    
    width: 300;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
label {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 16px;
    margin-right: 0px;
    font-family: 'Roboto', sans-serif;
    
}
.form-top{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
.form-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
.form-left>div *{
    display: block;
    font-family: 'Roboto', sans-serif;
}
.form-right *{
    display: block;
    font-family: 'Roboto', sans-serif;
}
.form-contact input[type="submit"]{
    background-color: blue;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: beige;
    
    font-family: 'Roboto', sans-serif;
    margin-bottom: 80px;
    cursor: pointer;

}

#startButton {
    margin-left: 0.5em;
    font-family: 'Roboto', sans-serif;
    
}


/*
    STYLE FOR FORM.HTML ----------------------------------------------
*/

.justified {
    text-align: left;
    margin-left: 0.5em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.sidenote {
    text-align: left;
    margin-left: 0.5em;
}

.preQ {
    border: 1px solid black;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-family: 'Roboto', sans-serif;
}

div {
    color: black;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

input[type=radio] {
    transform: scale(1);
    margin-right: -140;
    margin-left: -20;
    font-family: 'Roboto', sans-serif;;

}


.q1 {
    margin-top: 0.5em;
    margin-left : -100;
    margin-bottom: 0.5em;
    font-family: 'Roboto', sans-serif;
}

.q2 {
    margin-top: 0.5em;
    margin-left : 28;
    font-family: 'Roboto', sans-serif;
}

.q3 {
    margin-top: 0.5em;
    margin-left : 28;
    font-family: 'Roboto', sans-serif;
}

.q4 {
    margin-top: 0.5em;
    margin-left : -100;
}

.q5 {
    margin-top: 0.5em;
    margin-left : 28;
}


.q6 {
    margin-top: 0.5em;
    margin-left : -65;
    margin-right: -250;
}

.q7 {
    margin-top: 0.5em;
    margin-left : -65;    
}

.q8 {
    margin-top: 0.5em;
    margin-left : 28;
    font-family: 'Roboto', sans-serif;
}

.q9 {
    margin-top: 0.5em;
    margin-left : -100;
}


input[type=color] {
    width: 10;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 40;
    font-family: 'Roboto', sans-serif;
    
 }


#preq_submitButton{
    margin-left:20px;
    width:80px;
    height: 40px;
    display:inline-block;
    text-align:center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

#preq_saveButton{
    margin-left:20px;
    width:80px;
    height: 40px;
    text-align:center;
    display:inline-block;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
#BuyButton{
    margin-left:20px;
    width:80px;
    height: 40px;
    text-align:center;
    display:inline-block;
    font-size: 15px;
    background-color: blue;
    color: #D1D016;
    font-family: 'Roboto', sans-serif;
}
table{
    border-spacing: 10px;
}


/*
    STYLE FOR POST QUESTIONNAIRE ----------------------------------------------
*/
.postQQ {
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    border: 1px solid black;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-family: 'Roboto', sans-serif;
}

.postQ {
    margin-left: 0.5em;
    font-family: 'Roboto', sans-serif;
}



/*
    STYLE FOR THANK YOU PAGE ----------------------------------------------
*/

.thankY {
    text-align: center;
    vertical-align: middle;
    font-size: 45px;
    margin-top: 250px;
    font-family: 'Roboto', sans-serif;
}

/* EXPLANATION PAGE */
#startbtn {
    margin-left: 0.5em;
}


/* STYLE FOR SOCIAL MEDIA SHARE BUTTONS */
#share-container span {
    display: block;
    margin: 3rem auto;
    font-size: 50px;
    padding: 1rem;
    margin: 1rem;
  }
  #share-buttons i {
    font-size: 30px;
    margin: 20px;
  }
  .facebook {
        color: #3b5998;
  }
  .twitter {
      color: #55acee;
  }
  .linkedin {
      color: #0077b5;
  }
 
  .whatsapp {
      color: #25D366;
  }
  .telegram {
      color: #229ED9;
  }
  .facebook, .twitter, .linkedin, .reddit, .whatsapp, .telegram {
    opacity: 0.6;
  }
  .facebook:hover, .twitter:hover, .linkedin:hover, .reddit:hover, .whatsapp:hover, .telegram:hover {
    opacity: 0.9;
  }